:root {
  --background: #090909;
  --second-bg: #0b0e12;
  --disabled-bg: #0f1318;

  //red

  --red-500: #eb0237;
  --red-700: #a01131;
  --red-950: #701328;

  //green

  --green: #43ad28;

  //yellow

  --yellow: #eb6402;
}
